/*.vtpkonfigurator_canvas > * {
	display: inline-block;
	vertical-align: top;
}
*/
.vtpkonfigurator_menu {
	float: left;
}
.vtpkonfigurator_zoom {
	width: 33px;
	height: 33px;
	background-image: url(../img/zoom.png);
	background-position: 9px 9px;
	background-repeat: no-repeat;
	cursor: pointer;
	border: 1px solid #cccccc;
}

.vtpkonfigurator_zoom.active {
	background-image: url(../img/zoom-active.png);
	border: 1px solid #aa0000;
}

.vtpkonfigurator_zoom_canvas {
	position: absolute;
	z-index: 10000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #ffffff;
	border: 0;
	overflow: hidden;
}

.vtpkonfigurator_zoom_canvas img {
	position: relative;
	cursor: move;
}

.vtpkonfigurator_zoom_loading {
	width: 120px;
	height: 25px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -12px;
}
#vtpkonfigurator_authorlink {
	visibility: hidden;
	text-align: center !important;
	padding-top: 10px;
}
#vtpkonfigurator_authorlink a {
	position: relative;
	margin-top: 10px;
	z-index: 99;
}
.vtpkonfigurator img {
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
}
.vtpkonfigurator_zoom_closebutton {
	width: 35px;
	height: 36px;
	background-image: url(../img/button-close.png);
	background-repeat: no-repeat;
	cursor: pointer;
}



/* Backend: buy */
#buy {
	width: 650px;
	float: left;
}
#buy td,#buy th, #buy p {
	font-family: Verdana, Arial;
	font-size: 14px;
}
#buy td {
	text-align: center;
	vertical-align: top;
	height: 29px;
	padding: 5px 5px 0 5px;
}
#buy th {
	padding: 5px;
}
#buy tr.first td {
	height: 5px;
	padding: 0;
}
#buy .left {
	text-align: left;
}
#buy table {
	border-top: 1px #000000 solid;
	border-left: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
}
#buy th, #buy td  {
	border-right: 1px #000000 solid;
}
#buy th {
	border-bottom: 1px #000000 solid;
}
#buy .tick-grey {
	background: url(../img/tick-grey.png) top center no-repeat;
}
#buy .tick-green {
	background: url(../img/tick-green.png) top center no-repeat;
}
.red {
	color: #c70404;
}
.green {
	color: #688a07;
}

/* button style based on twitter bootstrap */
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #009de0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #000;
}

#register {
	display: none;
}


/* ========= 3D Produkt Viewer specific ============ */
.vtpkonfigurator_viewer img {
	border-radius: 20px;
}

/* variant selector */
.vtpkonfigurator_variant_selector {
	border: 2px #DDDDDD solid; 
	border-radius: 10px;
	white-space: wrap; /* avoid line break */
	position: absolute; 
	background: #ffffff; 
	z-index: 100;
}
/* main title */
.vtpkonfigurator_variant_selector h2 {
	text-align: center;
	border-bottom: 2px   #DDDDDD  solid; 
	height: 50;
	vertical-align: middle;
	padding:  10px;
	font-size: 16px;
	margin-bottom: 0;
	font-weight: bold;
	color: #888888;
}
/* Add to cart link which opens the summary view */
.vtpkonfigurator_variant_optgroup h2.addtocart {
	border-bottom: none;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}
/* configuration option group title */
.vtpkonfigurator_variant_selector h3 {
	line-height: 15px;
	font-size: 14px;
	margin-bottom: 20px;
}
.vtpkonfigurator_variant_selector h3.colorname {
	margin-top: 20px;
}
.vtpkonfigurator_variant_optgroup {
	border-bottom: 2px   #DDDDDD  solid; 
	padding: 12px 5px;
}
.vtpkonfigurator_variant_optgroup.last {
	border: 0;
}
/* price box */
.vtpkonfigurator_variant_optgroup.pricebox {
	background: #DDDDDD;
	padding: 0 5px;
	line-height: 33px;
}
.vtpkonfigurator_variant_optgroup.pricebox table, .vtpkonfigurator_variant_optgroup.pricebox td {
	border: 0;
}
.vtpkonfigurator_variant_optgroup.pricebox table {
	margin: 0;
}
.vtpkonfigurator_variant_optgroup .displayprice {
	font-size: 25px;
	font-weight: bold;
	line-height: 25px;
	width: 160px;
}
.vtpkonfigurator_variant_optgroup .displayshipping{
	font-size: 12px;
	line-height: 12px;
}


/* radio inputs */
.vtpkonfigurator_variant_optgroup input {
	margin-left: 20px;
	margin-right: 10px;
}
/* option text */
.vtpkonfigurator_variant_optgroup > label {
	line-height: 25px;
	display: inline;
}
/* color label boxes */
.vtpkonfigurator_variant_optgroup label.vtpkonfigurator_variant_color {
	cursor: pointer;
}
.vtpkonfigurator_variant_optgroup .additionallabels {
	margin-left: 15px;
}
.vtpkonfigurator_variant_na {
	padding: 0 15px;
	width: 200px;
	height: 300px;
	line-height: 25px !important; /* overwrite line-height defined in vtpkonfigurator_wpfix.css */
}

/* main settings table (backend) */
#shipping-rates {
	margin-top: 1em;
}


/* ------ Overlay + Summary View ------------ */
#overlay {
    background: transparent url(../img/overlay.png) repeat top left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* main box */
#summarybox {
    position: absolute;
    top: -100%;
    left: 30%;
    right: 30%;
    width: 600px;
/*    max-height: 500px; /* if this height gets exceeded, we display scrollbars - in combination with overflow:auto; */
/*	  overflow: auto;*/
    background-color: #fff;
    color: #7F7F7F;
    padding: 20px;
    border: 2px solid #ccc;
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius: 20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    z-index: 1001;
    text-align: center;
}
/* Overwrite values from vtpkonfigurator_variant_selector, as we have it little different for the summary box */
#summarybox .vtpkonfigurator_variant_selector {
	position: static; 
	float: none; 
	margin: auto;
}
#summarybox p {
	margin-bottom: 0;
}
#summarybox h3 {
	margin-bottom: 0;
}
#summarybox span.Cart66Price {
	margin-top: 0;
}
#summarybox h3.checkout {
	margin: 20px 0;
	font-size: 14px;
}
/* color display inside the summary box */
div.summarybox_color {
	width: 20px;
	height: 20px;
	border: 1px solid #EEECE1;
	margin: auto;
}
/* Overwrite Cart66 definitions */
.Cart66CartButton {
	position: absolute;
}
span.Cart66UserQuantity {
	visibility: hidden;
}
span.Cart66Price {
	font-size: 14px;
    line-height: 15px;
    color: #888888;
    margin-top: -8px;
}
input.Cart66ButtonPrimary.purAddToCart {
    margin-top: -8px;
}
/* X close button */
a.summaryboxclose {
    float:right;
    width: 26px;
    height: 26px;
    background: transparent url(../img/button-cancel-small.png) repeat top left;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
}
/* Buttons: No thanks, Add to cart */
.summaryboxbtn, input.Cart66ButtonPrimary.purAddToCart  {
	border: 2px solid #DDDDDD !important;
    border-radius: 10px 10px 10px 10px !important;
    line-height: 20px !important;
    padding: 5px 10px !important;
    height: auto !important;
    background: none !important;
    font-family: Century Gothic,Avant Garde,Arial,sans-serif !important;
    font-size: 14px;
    color: #888888 !important;
}
a.summaryboxbtn {
	margin-left: -250px;
	text-decoration: none;
}
.summaryboxbtn:hover, input.Cart66ButtonPrimary.purAddToCart:hover {
	color: #ffffff !important;
	background: #888888 !important;
	text-decoration: none !important;
}



/* style for color selection */
input.vtpkonfigurator_variant_color {
	display: none;
}
input.vtpkonfigurator_variant_color + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #eeece1;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 13px;
	display: inline-block;
	position: relative;
	margin: 0 5px;
}
input.vtpkonfigurator_variant_color:checked + label:after {
	content: ' ';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.6);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;

}
input.vtpkonfigurator_variant_color:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
input.vtpkonfigurator_variant_color + label:active, input.vtpkonfigurator_variant_color:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}


/* Backend: buy */
#buy {
	width: 650px;
	float: left;
}
#buy td,#buy th, #buy p {
	font-family: Verdana, Arial;
	font-size: 14px;
}
#buy td {
	text-align: center;
	vertical-align: top;
	height: 29px;
	padding: 5px 5px 0 5px;
}
#buy th {
	padding: 5px;
}
#buy tr.first td {
	height: 5px;
	padding: 0;
}
#buy .left {
	text-align: left;
}
#buy table {
	border-top: 1px #000000 solid;
	border-left: 1px #000000 solid;
	border-bottom: 1px #000000 solid;
}
#buy th, #buy td  {
	border-right: 1px #000000 solid;
}
#buy th {
	border-bottom: 1px #000000 solid;
}
#buy .tick-grey {
	background: url(../img/tick-grey.png) top center no-repeat;
}
#buy .tick-green {
	background: url(../img/tick-green.png) top center no-repeat;
}
.red {
	color: #c70404;
}
.green {
	color: #688a07;
}

/* button style based on twitter bootstrap */
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #009de0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #000;
}

#register {
	display: none;
}




/* ---- colors ----------- */
input.vtpkonfigurator_variant_color.bakedplum + label,
input.vtpkonfigurator_variant_color.bakedplum:checked + label:after
input.vtpkonfigurator_variant_color.bakedplum:checked + label,
div.summarybox_color.bakedplum { background-color: #5a3b4a; }

input.vtpkonfigurator_variant_color.olive + label,
input.vtpkonfigurator_variant_color.olive:checked + label:after,
input.vtpkonfigurator_variant_color.olive:checked + label,
div.summarybox_color.olive {	background-color: #839589; }

input.vtpkonfigurator_variant_color.priorywall + label,
input.vtpkonfigurator_variant_color.priorywall:checked + label:after,
input.vtpkonfigurator_variant_color.priorywall:checked + label,
div.summarybox_color.priorywall { background-color: #5a5e79; }

input.vtpkonfigurator_variant_color.shellcove + label,
input.vtpkonfigurator_variant_color.shellcove:checked + label:after,
input.vtpkonfigurator_variant_color.shellcove:checked + label,
div.summarybox_color.shellcove {	background-color: #bab7ae; }

input.vtpkonfigurator_variant_color.spinifex + label,
input.vtpkonfigurator_variant_color.spinifex:checked + label:after,
input.vtpkonfigurator_variant_color.spinifex:checked + label,
div.summarybox_color.spinifex { background-color: #7f7367; }

input.vtpkonfigurator_variant_color.colour1 + label,
input.vtpkonfigurator_variant_color.colour1:checked + label:after,
input.vtpkonfigurator_variant_color.colour1:checked + label,
div.summarybox_color.colour1 { background-color: #eeece1; }

input.vtpkonfigurator_variant_color.Beige + label,
input.vtpkonfigurator_variant_color.Beige:checked + label:after,
input.vtpkonfigurator_variant_color.Beige:checked + label,
div.summarybox_color.Beige { background-color: #F5DEB3; }

input.vtpkonfigurator_variant_color.SlateBlue + label,
input.vtpkonfigurator_variant_color.SlateBlue:checked + label:after,
input.vtpkonfigurator_variant_color.SlateBlue:checked + label,
div.summarybox_color.SlateBlue { background-color: #9999FF; }

input.vtpkonfigurator_variant_color.Periwinkle + label,
input.vtpkonfigurator_variant_color.Periwinkle:checked + label:after,
input.vtpkonfigurator_variant_color.Periwinkle:checked + label,
div.summarybox_color.Periwinkle { background-color: #4682B4 ; }

input.vtpkonfigurator_variant_color.CoolWhite + label,
input.vtpkonfigurator_variant_color.CoolWhite:checked + label:after,
input.vtpkonfigurator_variant_color.CoolWhite:checked + label,
div.summarybox_color.CoolWhite { background-color: #F5F5F5; }

input.vtpkonfigurator_variant_color.Chartreuse + label,
input.vtpkonfigurator_variant_color.Chartreuse:checked + label:after,
input.vtpkonfigurator_variant_color.Chartreuse:checked + label,
div.summarybox_color.Chartreuse { background-color: #008000; }

input.vtpkonfigurator_variant_color.LightRed + label,
input.vtpkonfigurator_variant_color.LightRed:checked + label:after,
input.vtpkonfigurator_variant_color.LightRed:checked + label,
div.summarybox_color.LightRed { background-color: #FF3333; }

input.vtpkonfigurator_variant_color.LightTan + label,
input.vtpkonfigurator_variant_color.LightTan:checked + label:after,
input.vtpkonfigurator_variant_color.LightTan:checked + label,
div.summarybox_color.LightTan { background-color: #FF7F50 ; }

/*
input.vtpkonfigurator_variant_color.Canary + label,
input.vtpkonfigurator_variant_color.Canary:checked + label:after,
input.vtpkonfigurator_variant_color.Canary:checked + label,
div.summarybox_color.Canary { background-color: #FFFF00 ; }
*/





/* Pantone Shades Colour matched to RAL/ NCS  */
input.vtpkonfigurator_variant_color.Whippoorwill + label, /* pantone 7527 (8652W)(1502 x 20 R) */
input.vtpkonfigurator_variant_color.Whippoorwill:checked + label:after,
input.vtpkonfigurator_variant_color.Whippoorwill:checked + label,
div.summarybox_color.Whippoorwill {	background-color: #DCD7D2; }

input.vtpkonfigurator_variant_color.Snowglory + label, /* pantone 427 (RAL 0531) */
input.vtpkonfigurator_variant_color.Snowglory:checked + label:after,
input.vtpkonfigurator_variant_color.Snowglory:checked + label,
div.summarybox_color.Snowglory {	background-color: #C2C7CA ; }

input.vtpkonfigurator_variant_color.Peacefulblue + label, /* Pantone 277 U (Peaceful Blue) (NCS S1030R80B) */
input.vtpkonfigurator_variant_color.Peacefulblue:checked + label:after,
input.vtpkonfigurator_variant_color.Peacefulblue:checked + label,
div.summarybox_color.Peacefulblue { background-color: #B0C4DE ; }

input.vtpkonfigurator_variant_color.Blaurot + label, /* Pantone 7425 U (Blaurot) (NCS S2060R10B) */
input.vtpkonfigurator_variant_color.Blaurot:checked + label:after,
input.vtpkonfigurator_variant_color.Blaurot:checked + label,
div.summarybox_color.Blaurot { background-color: #BB5A73 ; }

input.vtpkonfigurator_variant_color.Lightblue + label, /* Pantone 656 U (?) (RAL 7041 1/2 mix) Made up the colour name because I can't find it*/
input.vtpkonfigurator_variant_color.Lightblue:checked + label:after,
input.vtpkonfigurator_variant_color.Lightblue:checked + label,
div.summarybox_color.Lightblue { background-color: #E2EAF2 ; }


/* Colourtrend colours picked from card */
input.vtpkonfigurator_variant_color.Almostwhite + label,
input.vtpkonfigurator_variant_color.Almostwhite:checked + label:after,
input.vtpkonfigurator_variant_color.Almostwhite:checked + label,
div.summarybox_color.Almostwhite { background-color: #FFFFF0 ; }

input.vtpkonfigurator_variant_color.Pashminawool + label,
input.vtpkonfigurator_variant_color.Pashminawool:checked + label:after,
input.vtpkonfigurator_variant_color.Pashminawool:checked + label,
div.summarybox_color.Pashminawool { background-color: #F5F5DC ; }

input.vtpkonfigurator_variant_color.Prosecco + label,
input.vtpkonfigurator_variant_color.Prosecco:checked + label:after,
input.vtpkonfigurator_variant_color.Prosecco:checked + label,
div.summarybox_color.Prosecco{ background-color: #E0F8E0 ; }

input.vtpkonfigurator_variant_color.Stuccowork + label,
input.vtpkonfigurator_variant_color.Stuccowork:checked + label:after,
input.vtpkonfigurator_variant_color.Stuccowork:checked + label,
div.summarybox_color.Stuccowork { background-color: #FFF5EE ; }

input.vtpkonfigurator_variant_color.Chinesewhisper + label,
input.vtpkonfigurator_variant_color.Chinesewhisper :checked + label:after,
input.vtpkonfigurator_variant_color.Chinesewhisper :checked + label,
div.summarybox_color.Chinesewhisper { background-color: #D8F6CE ; }

input.vtpkonfigurator_variant_color.Victorianna + label,
input.vtpkonfigurator_variant_color.Victorianna:checked + label:after,
input.vtpkonfigurator_variant_color.Victorianna:checked + label,
div.summarybox_color.Victorianna { background-color: #F0E68C ; }

input.vtpkonfigurator_variant_color.Eiderdown + label,
input.vtpkonfigurator_variant_color.Eiderdown:checked + label:after,
input.vtpkonfigurator_variant_color.Eiderdown:checked + label,
div.summarybox_color.Eiderdown { background-color: #FFFACD ; }
